.env
*.env

bin/
obj/
out/

.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

*.log
logs/

appsettings.Development.json
secrets.json

docker-compose.override.yml
**/docker-compose.override.yml

.DS_Store
Thumbs.db